/Codigo-fonte/LojaVirtual/packages
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Infra.Data.Tests/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Application/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Domain/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Infra.Data/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Presentation.MVC/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Domain.Tests/bin
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Presentation.MVC/obj
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Domain.Tests/obj
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Infra.Data.Tests/obj
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Application/obj
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Domain/obj
/Codigo-fonte/LojaVirtual/src/LojaVirtual.Infra.Data/obj
